:root{
    --header_color: #2a476a;
    --header_poloska: 0%;
}
*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}

body{
    font-family: "Marmelad", sans-serif;
    font-weight: 400;
    font-style: normal;  
}
.wrapper{
    width: min(100%, 1450px);
    margin: 0 auto;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--header_color);
    font-size: clamp(0.875rem, 0.7578rem + 0.375vw, 1.25rem);
    z-index: 100;
}
header *{
    color: rgb(255, 255, 255);
}
header::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: var(--header_poloska);
    height: 6px;
    background: rgb(81,255,183);
    background: linear-gradient(90deg, rgba(81,255,183,1) 0%, rgba(0,255,94,1) 100%);
}
.header_wrapper{
    padding: 1.5vh 2vw 0.8vh 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: clamp(10px, 6vw, 30px);
}
.logo_wrapper{
    display: flex;
    align-items: center;
}
.logo_wrapper a{
    letter-spacing: 3px;
    display: flex;
}
.logo_wrapper a img{
    filter: drop-shadow(1px 1px 1px black);
    width: 50px;
    height: auto;
}
.logo_title{
    padding-left: 9px;
}
.left_nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex: 1;
    gap: 40px;
    align-items: center;
}
.navbar_list{
    position: relative;
    display: flex;
    list-style: none;
    gap: 16px;
}
.navbar_list_desk{
    flex-direction: row;
}
.navbar_list li{
    width: max-content;
    position: relative;
    transition: border-color 0.5s, transform 0.25s ease-in;
    border: 3px solid #00000000;
    border-radius: 4px;
    border-image: linear-gradient(90deg, rgb(195 170 182), rgb(107 167 134)) 1;
}

.navbar_list_mobile{
    flex-direction: column;
}
.navbar_list_mobile li{
    transform: translateX(-50vw) translateY(-15px);
}
.navbar_list_mobile li:nth-child(1){
    transition-delay: 0.1s;
}
.navbar_list_mobile li:nth-child(2){
    transition-delay: 0.2s;
}
.navbar_list_mobile li:nth-child(3){
    transition-delay: 0.25s;
}
.navbar_list_mobile li:nth-child(4){
    transition-delay: 0.3s;
}
.navbar_list_mobile li:nth-child(5){
    transition-delay: 0.35s;
}
.navbar_list_mobile li.active{
    transform: translateX(0%) translateY(0px);
}


.navbar_list li::after, .navbar_list li::before{
    content: "";
    display: block;
    z-index: 10;
    position: absolute;
    background-color: var(--header_color);
    border: 3px solid var(--header_color);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: 50% 50%;
}
.navbar_list li::before{
    width: calc(100% + 4px);
    height: 100%;
    transition: height 0.6s;
}
.navbar_list li::after{
    height: calc(100% + 4px);
    width: 100%;
    transition: width 0.6s;
}
.navbar_list li:hover::before, .navbar_list li:focus::before{
    height: 30%;
}
.navbar_list li:hover::after, .navbar_list li:focus::after{
    width: 55%;
}
.navbar_list li:hover{
    border-color: rgb(0, 0, 0)
}
.navbar_list li a{
    position: relative;
    z-index: 20;
    display: flex;
    padding: 13px;
}


.mobile_top_menu{
    display: none;
    margin: 0 auto;
}
.icon_menu{
    height: 30px;
    width: 40px;
    cursor: pointer;
    position: relative;
}
.icon_menu::after, .icon_menu::before{
    content: "";
}
.icon_menu::before{
    top: 0;
}
.icon_menu::after{
    bottom: 0;
}
.icon_menu span{
    top: 50%;
    transform: translateY(-50%);
}
.icon_menu span, .icon_menu::after, .icon_menu::before{
    position: absolute;
    height: 4px;
    left: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
    transition: 0.2s;
    border-radius: 4px;
}
.icon_menu_active span{
    transform: scale(0);
    transition: 0.2s;
}
.icon_menu_active::before{
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}
.icon_menu_active::after{
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
}


.mobile_menu_body{
    position: absolute;
    opacity: 0;
    /*visibility: hidden;*/
    transform: rotateX(90deg) translateX(0%);
    transform-origin: 50% 0%;
    padding: 15px;
    border-top: 3px dotted #fff;
    width: 100%;
    height: auto;
    background: var(--header_color);
    left: 0;
    top: 100%;
    transition: 0.3s;
}
.mobile_menu_body_active{
    opacity: 1;
    transform: rotateX(0deg) translateX(0%);
}


.header_wrapper address{
    /* padding: 3px; */
}
.header_wrapper address a{
    padding: 3px;
    display: flex;
    align-items: center;
    gap: 8px;
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.356));
}
.header_wrapper address a:hover{
    text-decoration: underline rgb(228, 228, 228);
}
.header_wrapper address a img{
    width: clamp(0.975rem, 1rem + 0.375vw, 1.45rem);
    height: auto;
    filter: invert(1);
}
/* .contact_bottom_icons{
    display: flex;
    gap: 10px;
}
.contact_bottom_icons img{
    width: 36px;
    height: auto;
} */


section{
    background: rgb(15 19 31);
    padding: 20px;
    position: relative;
    z-index: 0;
}
.section_bg_lq, .section_bg_hq{
    background-repeat: no-repeat;
    background-size: cover;
    /*height: 800px;*/
    background-position: center center;
    background-attachment: scroll;
    transition: 0.7s;
}
.section_bg_hq{
    opacity: 0;
    transition: opacity 0.7s;
}
.section_bg_filter{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: -webkit-linear-gradient(top, var(--header_color), rgb(0 0 0 / 50%));
}
.section_container{
    color: rgb(255, 255, 255);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    text-align: center;
    gap: clamp(1.5625rem, 1.4552rem + 0.4577vw, 2.1875rem);
}
.section_title h1{
    font-size: clamp(1.875rem, 1.521rem + 1.5103vw, 3.9375rem); /*(30-63px) (iphone SE_375px - 2K)*/
    letter-spacing: 1px;
    line-height: 110%;
    font-weight: 900;
}
.section_title h2{
    font-size: clamp(1rem, 0.8284rem + 0.7323vw, 2rem); /*(16-32px) (iphone SE_375px - 2K)*/
    line-height: 145%;
}
.section_desc p{
    font-size: clamp(0.8125rem, 0.6516rem + 0.6865vw, 1.75rem); /*(13-28px) (iphone SE_375px - 2K)*/
    letter-spacing: 1px;
    line-height: 105%;
    color: rgba(255, 255, 255, 0.75);
}
#section1{
    padding: 0;
}
#section1 .section_bg_lq{
    background-image: url("../media/section_1_bg_lq.jpg");
}
#section1 .section_bg_hq{
    /*background-image: url("../media/section_1_bg_hq.webp");*/
}
.section_arrow_down{
    display: flex;
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    justify-content: center;
}
.section_arrow_down svg{
    cursor: pointer;
    animation: arrow_down 1.7s infinite ease;
    width: 52px;
    height: 27px;
}
@keyframes arrow_down {
    0%, 100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
    50%, 55% {
        -moz-transform: translateY(-7px);
        -ms-transform: translateY(-7px);
        -webkit-transform: translateY(-7px);
        -o-transform: translateY(-7px);
        transform: translateY(-7px);
    }
}

/*///////////////////*/
#section2 .video{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
}
#section2 .video iframe{
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
}


/*///////////////////*/

.social_bar{
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: var(--header_color);
    z-index: 10;
}
.social_bar a{
    flex: 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
}
.social_bar a img{
    width: clamp(1.5rem, 1.3047rem + 0.625vw, 2.125rem);
}
.social_bar_telegram{
    background-color: #3ba5de;
}
.social_bar_viber{
    background-color: #75428a;
}
.social_bar_whatsapp{
    background-color: #00c64b;
}
.social_bar img{
    filter: invert(1);
}





@media (max-width: 1100px) {

    .navbar_list_desk {
        gap: 5px;
    }
    .navbar_list li a{
        padding: 7px;
    }
}
@media (max-width: 880px){
    .left_nav{
        justify-content: flex-start;
    }
    .navbar_list_desk{
        display: none;
    }
    .mobile_top_menu{
        display: block;
    }
    /*//////////*/
    #section2{
        padding-left: 0;
        padding-right: 0;
    }
    #section2 .video{
        width: 100%;
    }
}
@media (max-width: 430px){
    .left_nav{
        gap: 20px;
    }
    .logo_wrapper a{
        letter-spacing: 1px;
    }
    .icon_menu{
        width: 30px;
        height: 22.5px;
    }
    .icon_menu span, .icon_menu::after, .icon_menu::before{
        height: 3px;
    }
    .contact_bottom_icons img{
        width: 28px;
    }
}